{
  "extends":[ "airbnb-base", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "rules": {
    "lines-between-class-members": "off",
    "no-unused-expressions": 0,
    "class-methods-use-this": 0,
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 80
      }
    ],
    "import/extensions": false
  }
}